@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* css reset */
* {
  /* width: 528px; 일때 */
  /* box-sizing: content-box; */
  /* width를 컨텐츠 기준으로 총 너비는 528 + 20(padding) + 10(border) = 558px */
  /* width에 padding과 boarder를 포함해서 적용 총 너비 528px */
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 2rem 0 0 0;
}

.backdrop {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 200;
  /* vmin view port width와 height중 낮은 값을 기준으로 잡는다.*/
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

/* header */
.main-header {
  position: fixed;
  /* z-index가 같을때는 HTML 순서대로 쌓인다. */
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2ddf5c;
  padding: 0.5rem 1rem;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  /* a태그가 인라인요소 */
  display: inline-block;
  width: 1.3rem;
}

.main-header img {
  width: 100%;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 73px);
  text-align: right;
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  /* 글머리 기호제거 */
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}

.main-nav__item > a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 0.25rem 0;
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
  color: white;
  cursor: pointer;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background-color: white;
  border: none;
}

/* footer */
.main-footer {
  background-color: black;
  color: white;
  padding: 2rem;
}

.main-footer__links {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.main-footer__link {
  display: inline-block;
  margin: 0 1rem;
}

.main-footer__link a {
  color: inherit;
  text-decoration: none;
}
.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.button {
  padding: 8px;
  background-color: #0e5f1f;
  color: white;
  /* inherit 상속받은 값을 그대로 사용 */
  font: inherit;
  font-weight: bold;
  border: 1.5px solid #0e4f1f;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: white;
  color: #0e4f1f;
  transition: 0.3s;
}

.button:focus {
  outline: none;
}
