/* main */
#product-overview {
  /* 단색 배경은 하나 이미지는 여러개를 쌓을 수 있다. */
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("./public/freedom.jpg") 10% 30% / cover no-repeat border-box, #ff1b68;
  /* background-image: url("./public/freedom.jpg");
  background-size: cover;
  background-position: 0% 80%; left 10% bottom 20%
  background-origin: border-box;
  background-clip: border-box;
  background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  width: 100vw;
  height: 33vh;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", "sans-serif";
  /* static, relative의 100% width는 부모요소의 content값 */
  /* absolute의 100% width는 부모요소(relative)의 padding + content값 */
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 5%;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

/* plan */
.plan__container {
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

.plan {
  display: inline-block;
  vertical-align: bottom;
  width: 25%;
  min-width: 14rem;
  padding: 0 1rem;
  min-height: 25rem;
  margin: 2rem 0.5rem;
  background-color: #d6ffdc;
  /* relative에서 위치를 조정하면 자기자신을 기준으로 이동한다. */
  position: relative;
  text-align: center;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #ccc;
}

.plan > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan > ul > li {
  margin: 0.5rem 0;
}

.plan--highlighted {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__anotation {
  background-color: white;
  color: #19b84c;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  /* absoulte의 위치를 조정하면 가장 가까운 조상의 position을 기준으로 이동한다. */
  position: absolute;
  top: -3rem;
  left: 10%;
  right: 10%;
  font-size: medium;
  overflow: hidden;
}

.plan button {
  position: absolute;
  left: 0.6rem;
  right: 0.6rem;
  bottom: 0.6rem;
}

/* key */
#key-features {
  background-color: #ff1b68;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__element {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.key-feature__image {
  background-color: #ffcede;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #424242;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__discription {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}
