html,
body {
  height: 100%;
}

#box1,
#box2 {
  display: inline-block;
  border: 3px solid black;
  padding: 10px 20px 30px 40px;
  height: 100%;
  box-sizing: border-box;
  height: 300px;
  width: 49%;
}

#box1 {
  /* display: none; */
  visibility: hidden;
}

div:last-of-type:hover {
  background-color: antiquewhite;
}
