html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
}
/* nav */
nav {
  background-color: #fa923f;
  margin-bottom: 16px;
  padding: 8px 0;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

/* a태그와 active클래스가 inline으로 작성된 부분만 적용 */
a.active {
  color: #521751;
}

/* section */
.main-section {
  height: 800px;
  border: 1px solid #ccc;
  padding: 16px;
}

.highlighted {
  border: 2px solid #fa923f;
}
