@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,400;0,500;0,700;1,700&display=swap");

@mixin keyframe($name) {
  @keyframes #{$name} {
    @content;
  }
}

// button keyframe
@include keyframe(button) {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

@mixin animation($keyframe-name, $duration, $delay, $count: infinite) {
  animation-name: $keyframe-name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $count;
  animation-timing-function: linear;
}

:root {
  --body-bg-color: linear-gradient(
    0deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  --app-bg-color: rgba(131, 58, 180, 0.2);
  --main-bg-color: rgba(255, 255, 255, 0.95);
}

%init {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Genos", sans-serif;
}

%focus-none {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

html {
  @extend %init;
}

body {
  @extend %init;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.background {
  background: var(--body-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-color: var(--body-bg-color);
}

#app {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  background-color: var(--app-bg-color);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  h1 {
    margin: 0 0 1rem 0;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
  }
}

main {
  background-color: var(--main-bg-color);
  padding: 10px;
  display: grid;
  grid-template-columns: [start] repeat(3, [col-start] 200px [col-end]) [end];
  grid-template-rows: [start] repeat(4, [row-start] 200px [row-end]) [end];
  column-gap: 10px;
  height: 100%;
}

#canvas {
  grid-column: col-start 1 / span 2;
}

#canvas-next_shape {
  grid-column: col-start 3 / span 1;
}

#canvas-score {
  grid-column: col-start 3 / span 1;
  grid-row: row-start 2 / span 1;
}

#button-reset {
  grid-column: col-start 3 / span 1;
  grid-row: row-start 4 / span 1;
  border: 0;
  background-color: transparent;
  width: 50%;
  margin: auto;

  img {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0) 110%
    );
    @include animation(button, 1s, 0s);
    animation-play-state: paused;
    &:hover {
      animation-play-state: running !important;
    }
    &:active {
      cursor: pointer;
      animation-play-state: running !important;
      opacity: 0.5;
      transition: opacity 0.1s;
    }
    @extend %focus-none;
  }
  @extend %focus-none;
}

footer {
  text-align: center;
  cursor: default;
  a {
    color: rgb(160, 21, 21);
    cursor: pointer;
  }
}
